<div class ="container" id = "main">
	<div class = "row">	
		<div class="col-lg-12">

			<h1><%= @title %></h1>
				<div id = "imhcontent">
					<p1>
						<div id = "cent">
							<%= image_tag "centralised.png", alt: "cen_pic", class: "img-responsive"%>
						</div>
						<%= @content %>
					</p1>
				</div>

		</div>
	</div>
</div>